S3method("*",dotprops)
S3method("*",neuron)
S3method("+",dotprops)
S3method("+",neuron)
S3method("-",dotprops)
S3method("-",neuron)
S3method("/",dotprops)
S3method("/",neuron)
S3method("xyzmatrix<-",default)
S3method(all.equal,dotprops)
S3method(all.equal,neuron)
S3method(dotprops,dotprops)
S3method(dotprops,list)
S3method(dotprops,neuron)
S3method(scale,dotprops)
S3method(scale,neuron)
S3method(xformpoints,cmtkreg)
S3method(xyzmatrix,default)
export("xyzmatrix<-")
export(affmat2cmtkparams)
export(as.cmtkreg)
export(as.dotprops)
export(as.neuron)
export(cmtk.dof2mat)
export(cmtk.mat2dof)
export(cmtklandmarks)
export(cmtkparams2affmat)
export(cmtkreg)
export(cmtkreglist)
export(dotprops)
export(is.cmtkreg)
export(is.dotprops)
export(is.neuron)
export(read.cmtk)
export(read.cmtklandmarks)
export(read.cmtkreg)
export(write.cmtk)
export(write.cmtklandmarks)
export(write.cmtkreg)
export(xform)
export(xformpoints)
export(xyzmatrix)
importFrom(RANN,nn2)
