S3method(xformpoints,cmtkreg)
export(affmat2cmtkparams)
export(as.cmtkreg)
export(as.neuron)
export(cmtk.dof2mat)
export(cmtk.mat2dof)
export(cmtklandmarks)
export(cmtkparams2affmat)
export(cmtkreg)
export(cmtkreglist)
export(is.cmtkreg)
export(is.neuron)
export(read.cmtk)
export(read.cmtklandmarks)
export(read.cmtkreg)
export(write.cmtk)
export(write.cmtklandmarks)
export(write.cmtkreg)
export(xform)
export(xformpoints)
