S3method("*",dotprops)
S3method("*",neuron)
S3method("*",neuronlist)
S3method("+",dotprops)
S3method("+",neuron)
S3method("+",neuronlist)
S3method("-",dotprops)
S3method("-",neuron)
S3method("-",neuronlist)
S3method("/",dotprops)
S3method("/",neuron)
S3method("/",neuronlist)
S3method("[",neuronlist)
S3method("[",neuronlistfh)
S3method("[[",neuronlistfh)
S3method("boundingbox<-",default)
S3method("xyzmatrix<-",default)
S3method("xyzmatrix<-",hxsurf)
S3method("xyzmatrix<-",igraph)
S3method(all.equal,dotprops)
S3method(all.equal,im3d)
S3method(all.equal,neuron)
S3method(as.list,neuronlistfh)
S3method(as.neuron,data.frame)
S3method(as.neuron,default)
S3method(as.neuron,neuron)
S3method(as.neuron,ngraph)
S3method(as.neuronlist,default)
S3method(as.neuronlist,neuronlistfh)
S3method(as.neuronlistfh,neuronlist)
S3method(as.ngraph,data.frame)
S3method(as.ngraph,neuron)
S3method(as.seglist,default)
S3method(as.seglist,igraph)
S3method(as.seglist,list)
S3method(as.seglist,seglist)
S3method(boundingbox,character)
S3method(boundingbox,default)
S3method(boundingbox,im3d)
S3method(branchpoints,default)
S3method(branchpoints,igraph)
S3method(branchpoints,neuron)
S3method(dim,im3d)
S3method(dotprops,default)
S3method(dotprops,dotprops)
S3method(dotprops,list)
S3method(dotprops,neuron)
S3method(dotprops,neuronlist)
S3method(droplevels,neuronlist)
S3method(endpoints,default)
S3method(endpoints,igraph)
S3method(endpoints,neuron)
S3method(flip,array)
S3method(flip,matrix)
S3method(flip,vector)
S3method(head,neuronlist)
S3method(image,im3d)
S3method(mirror,default)
S3method(mirror,neuronlist)
S3method(ndigest,default)
S3method(ndigest,dotprops)
S3method(ndigest,neuron)
S3method(ndigest,neuronlistfh)
S3method(plot,neuron)
S3method(plot3d,character)
S3method(plot3d,dotprops)
S3method(plot3d,hxsurf)
S3method(plot3d,neuron)
S3method(plot3d,neuronlist)
S3method(remotesync,default)
S3method(remotesync,neuronlistfh)
S3method(rootpoints,default)
S3method(rootpoints,igraph)
S3method(rootpoints,neuron)
S3method(scale,dotprops)
S3method(scale,neuron)
S3method(subset,dotprops)
S3method(subset,neuronlist)
S3method(threshold,im3d)
S3method(voxdims,default)
S3method(voxdims,im3d)
S3method(with,neuronlist)
S3method(xform,default)
S3method(xform,dotprops)
S3method(xform,list)
S3method(xform,neuronlist)
S3method(xformpoints,character)
S3method(xformpoints,cmtkreg)
S3method(xformpoints,default)
S3method(xyzmatrix,default)
S3method(xyzmatrix,dotprops)
S3method(xyzmatrix,hxsurf)
S3method(xyzmatrix,igraph)
S3method(xyzmatrix,neuron)
export("boundingbox<-")
export("xyzmatrix<-")
export(affmat2cmtkparams)
export(amiratype)
export(as.cmtkreg)
export(as.dotprops)
export(as.neuron)
export(as.neuronlist)
export(as.neuronlistfh)
export(as.ngraph)
export(as.seglist)
export(boundingbox)
export(branchpoints)
export(clampmax)
export(cmtk.bindir)
export(cmtk.call)
export(cmtk.dof2mat)
export(cmtk.mat2dof)
export(cmtk.reformatx)
export(cmtk.targetvolume)
export(cmtklandmarks)
export(cmtkparams2affmat)
export(cmtkreg)
export(cmtkreglist)
export(dotprops)
export(endpoints)
export(fileformats)
export(find.neuron)
export(flip)
export(getformatreader)
export(getformatwriter)
export(ijkpos)
export(im3d)
export(imexpand.grid)
export(imscalebar)
export(imslice)
export(is.amiramesh)
export(is.cmtkreg)
export(is.dotprops)
export(is.neuron)
export(is.neuronlist)
export(is.nrrd)
export(mirror)
export(ndigest)
export(neuron)
export(neuronlist)
export(neuronlistfh)
export(nlapply)
export(nopen3d)
export(nrrd.voxdims)
export(origin)
export(projection)
export(read.amiralandmarks)
export(read.amiramesh)
export(read.amiramesh.header)
export(read.cmtk)
export(read.cmtklandmarks)
export(read.cmtkreg)
export(read.hxsurf)
export(read.im3d)
export(read.neuron)
export(read.neuronlistfh)
export(read.neurons)
export(read.nrrd)
export(read.nrrd.header)
export(registerformat)
export(remotesync)
export(rootpoints)
export(seglist)
export(seglist2swc)
export(threshold)
export(unmask)
export(voxdims)
export(write.amiralandmarks)
export(write.amiramesh)
export(write.cmtk)
export(write.cmtklandmarks)
export(write.cmtkreg)
export(write.hxsurf)
export(write.im3d)
export(write.neuron)
export(write.neuronlistfh)
export(write.neurons)
export(write.nrrd)
export(xform)
export(xformpoints)
export(xyzmatrix)
export(xyzpos)
import(igraph)
importClassesFrom(filehash,filehash)
importClassesFrom(filehash,filehashRDS)
importFrom(RANN,nn2)
importFrom(digest,digest)
importFrom(graphics,.filled.contour)
importFrom(graphics,image)
importFrom(graphics,rect)
importFrom(methods,is)
importFrom(nat.utils,RunCmdForNewerInput)
importFrom(nat.utils,makelock)
importFrom(nat.utils,removelock)
importFrom(rgl,par3d)
importFrom(rgl,plot3d)
importFrom(rgl,triangles3d)
importFrom(tools,md5sum)
importFrom(utils,head)
importMethodsFrom(filehash,"[[")
